[Unit]
Description=Docker registry server ({{ docker_registry_user }})
After=syslog.target network-online.target docker.service
Requires=network-online.target docker.service

[Service]
Type=simple
WorkingDirectory={{ docker_registry_user_home }}
User={{ docker_registry_user }}
Restart=always
RestartSec=10s
ExecStartPre=-/usr/bin/docker kill docker-registry_{{ docker_registry_user }}
ExecStartPre=-/usr/bin/docker rm docker-registry_{{ docker_registry_user }}
ExecStart=/usr/bin/docker run \
  --publish {{ docker_registry_bind }}:5000 \
  --restart=always \
  --name docker-registry_{{ docker_registry_user }} \
  --volume {{ docker_registry_data_home }}:/var/lib/registry \
  -e "MIRROR_SOURCE=https://registry-1.docker.io" \
  -e "MIRROR_SOURCE_INDEX=https://index.docker.io" \
  -e "STANDALONE=true" \
  registry:{{ docker_registry_image_tag }}
ExecStop=-/usr/bin/docker stop docker-registry_{{ docker_registry_user }}

[Install]
WantedBy=multi-user.target
