upstream docker-registry_{{ docker_registry_user }} {
	server {{ docker_registry_bind }};
}

## Set a variable to help us decide if we need to add the
## 'Docker-Distribution-Api-Version' header.
## The registry always sets this header.
## In the case of nginx performing auth, the header will be unset
## since nginx is auth-ing before proxying.
map $upstream_http_docker_distribution_api_version $docker_distribution_api_version {
	'' 'registry/{{ docker_registry_version }}';
}

server {
{% if docker_registry_nginx_ssl %}
	listen 443 ssl;
{% else %}
  listen 80;
{% endif %}
	server_name {{ docker_registry_nginx_domain }};

  access_log {{ docker_registry_nginx_log_home }}/access.log;
  error_log  {{ docker_registry_nginx_log_home }}/error.log;

{% if docker_registry_nginx_ssl %}
	# SSL
{% if docker_registry_nginx_ssl_upload %}
	ssl_certificate      {{ docker_registry_nginx_ssl_home }}/{{ docker_registry_nginx_ssl_certificate | basename }};
  ssl_certificate_key  {{ docker_registry_nginx_ssl_home }}/{{ docker_registry_nginx_ssl_private_key | basename }};
{% else %}
  ssl_certificate {{ docker_registry_nginx_ssl_certificate }};
  ssl_certificate_key {{ docker_registry_nginx_ssl_private_key }};
{% endif %}

	ssl_protocols TLSv1.2;
	ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';
{% endif %}

	# disable any limits to avoid HTTP 413 for large image uploads
	client_max_body_size 0;

	# required to avoid HTTP 411: see Issue #1486 (https://github.com/docker/docker/issues/1486)
	chunked_transfer_encoding on;

	location /v{{ docker_registry_image_tag }}/ {
	  # Do not allow connections from docker 1.5 and earlier
	  # docker pre-1.6.0 did not properly set the user agent on ping, catch "Go *" user agents
	  if ($http_user_agent ~ "^(docker\/1\.(3|4|5(?!\.[0-9]-dev))|Go ).*$" ) {
		  return 404;
	  }

{% if docker_registry_nginx_access_restricted %}
	  # To add basic authentication use auth_basic setting.
	  auth_basic "Registry realm";
	  auth_basic_user_file {{ docker_registry_nginx_access_filepath }};
{% endif %}

	  ## If $docker_distribution_api_version is empty, the header will not be added.
	  ## See the map directive above where this variable is defined.
	  add_header 'Docker-Distribution-Api-Version' $docker_distribution_api_version always;

	  proxy_pass                          http://docker-registry_{{ docker_registry_user }};
	  proxy_set_header  Host              $http_host;   # required for docker client's sake
	  proxy_set_header  X-Real-IP         $remote_addr; # pass on real client's IP
	  proxy_set_header  X-Forwarded-For   $proxy_add_x_forwarded_for;
	  proxy_set_header  X-Forwarded-Proto $scheme;
	  proxy_read_timeout                  900;
	}
}
